.about__info p {
  line-height: 24px;
  letter-spacing: 1.35px;
  color: var(--dark-gray);
  font-size: var(--very-small-font-size);
  margin: 20px 0;
}
.backed__card {
  margin: 20px 0;
  padding: 15px;
  border: 1px solid var(--light-gray);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--light-gray);
}

.backed__card span {
  font-size: var(--small-font-size);
  font-weight: var(--heavy-font);
  color: var(--light-green-color);
}

.backed__card p {
  font-size: var(--very-small-font-size);
  letter-spacing: 1.7px;
  line-height: 23px;
  margin: 22px 0;
}

.backed__stock {
  padding: 10px;
  align-items: center;
  height: auto;
}

.backed__stock h2 {
  margin-bottom: 20px;
}