
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 30px;
  color: #fff;
}

.navbar .navbar--menu {
  font-size: var(--extra-large-font-size);
  cursor: pointer;
}