:root {
  --light-green-color: hsl(176, 50%, 47%);
  --dark-green-color: hsl(176, 72%, 28%);
  --black-color: hsl(0, 0%, 10%);
  --dark-gray: hsl(0, 0%, 48%);
  --light-gray: hsl(0, 0%, 80%);

  --main-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --large-font-size: 1.8rem;
  --extra-large-font-size: 2rem;
  --light-font: 400;
  --regular-font: 500;
  --heavy-font: 700
}